name: Web Scrape

on:
  # Runs once at 21:40 or 22:40 EST (02:40 UTC) every day
  # The EST hour depends on daylight savings
  schedule:
    - cron: "40 2 * * *"
  
  # Allows the workflow to be manually triggered
  workflow_dispatch:

jobs:
  scrape-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.0
        
      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Execute scraper script
        run: python main.py

      - name: Commit updates (scrape results)
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Update with scraped content or error report'
          author_name: Carolyn Wu
          author_email: 87150472+cw118@users.noreply.github.com
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
