name: Web Scrape

on:
  schedule:
    - cron: "0 5 * * *" # runs at 00:00 or 01:00 EST (06:00 UTC) every day, depending on daylight savings

jobs:
  scrape-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.0
        
      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Execute scraper script
        run: python main.py

      - name: Commit updates (scrape results)
        uses: EndBug/add-and-commit@v7
        with:
          add: 'README.md'
          message: 'Update README after daily scrape'
          author_name: Carolyn Wu
          author_email: carolyn94118@gmail.com
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
